.register h2 {
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;
  }

  .register fieldset {
    padding: 10px;
    background-color: #faebd7;
    margin: auto;
    width: 50%;
  }

  .register label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 9px;
    margin-top: 10px;
  }

  .register input {
    width: 250px;
    margin-top: 10px;
  }
    .register button {
    width: 30%;
    padding: 5px 5px;
    border-radius: 60px;
    background-color: #fff;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }
  